* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	background-color: #cecece;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	background-color: #ffd541;
}

.list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	font-size: 21px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
}

.nav-link:hover {
	color: #000;
	text-decoration: underline;
}

.main-wrapper {
	display: flex;
	flex-wrap: wrap;
}
section {
	width: 50%;
}
.wrapper-border {
	border: 3px solid #ffd541;
}
.profile {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px 30px 35px;
	border-bottom: 5px solid #d7d1c9;
}
.profile-logo {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

.section-title {
	margin-bottom: 10px;
	color: #ffd541;
	letter-spacing: 3px;
}
.section-list {
	margin: 0;
	padding: 0;
	list-style: square inside;
}
.link {
	text-decoration: none;
	transition: 0.5s;
	color: #000;
}
.link:hover {
	color: #6822eb;
}
pre {
	padding: 0px;
	margin: 0px;
}
.footer {
	padding: 10px;
	background-color: #ffd541;
	font: 20px Arial, sans-serif;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
}

.rss-logo {
	background-size: contain;
	width: 141px;
	height: 45px;
	background-repeat: no-repeat;
	background-image: url("./assets/svg/rs_school_js.svg");
}

@media (max-width: 768px) {
	section {
		width: 100%;
	}
}
