* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	border: 5px dashed red;
	background-color: #8d928e;
}

.nav {
}
.list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	font-size: 21px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}

.nav-link:hover {
	color: #b0eeb5;
	text-decoration: underline;
}

.main {
	border: 5px dashed green;
}
.main-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.profile{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 50px 30px 35px;
	border-bottom: 5px solid #d7d1c9;
}
.profile-logo{
	width: 220px;
	height: 220px;
	object-fit: cover;
	border-radius: 50%;
}

.footer {
	border: 5px dashed blue;
	padding: 10px;
	background-color: #8d928e;
	font: 20px Arial, sans-serif;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
}

.rss-logo {
	background-size: contain;
	width: 141px;
	height: 45px;
	background-repeat: no-repeat;
	background-image: url("./assets/svg/rs_school_js.svg");
}
